* {
  user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.main-app {
	background: darkgray;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	.container {
		text-align: center;
	}
	.world {
		font-size: 5em;
		color: dimgray;
	}
	h1 {
		font-size: 20em;
		margin: 0;
		color: red;
		cursor: pointer;
	}
}
